* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none !important;
}
.detail-img {
  margin-bottom: 20px;
}
.detail-img img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  margin: 0 auto;
}

.detail-product {
  width: 80%;
  margin: 0 auto;
}

.content-detail {
  padding: 40px 0;
}

.content-detail button {
  width: 100%;
  padding: 10px 0;
  background-color: #993333;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  transition: 0.5s;
}

.content-detail button:hover {
  background-color: #b94141;
}

.detail-price {
  color: red;
  font-size: 30px;
}

.infor-detail {
  width: 80%;
  margin: 0 auto;
}

.infor-detail ul li {
  font-size: 20px;
}

.infor-detail p {
  font-size: 20px;
}

.related-products {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 1300px) {
  .detail-img {
    padding: 20px 0;
  }
  .detail-img img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .detail-img {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .detail-product,
  .related-products,
  .infor-detail {
    width: 90%;
  }
  .content-detail {
    padding: 10px 0;
  }

  .detail-img {
    height: 100%;
    padding: 0;
  }
}

@media (max-width: 400px) {
  .detail-img {
    height: 300px;
    margin-top: 10px;
  }
  .detail-product h4 {
    font-size: 20px;
  }
  .detail-product p {
    font-size: 25px;
    margin: 0;
  }
  .detail-product button {
    padding: 5px;
  }
  .infor-detail ul li {
    font-size: 17px;
  }

  .infor-detail p {
    font-size: 17px;
  }
}
